/* Global Styles */

body {
    background-image: url('../Images/background_ocean.jpg');
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.bullet_list{
    color:white;
}

audio {
    width: 50%;
}

.WWF {
    color: white;
}




/* Mobile Styles */

#container{
    background-color: white;
    margin: 10px;
    border: 4px solid black;
    border-radius: 5px;
}

header{
    background-image: url("../Images/HeaderShark.png");
    background-size: cover;
}


header h1{
    text-align: center;
    text-shadow: 2px 2px 2px gray ;
}
 

nav ul{
    list-style-type: none;
    padding: 0px;
}

nav li{
    display: inline-block;
}

nav li a{
    display:block;
    background-color: coral;
    color: Black;
    height: 40px;
    line-height: 25px;
    text-align: center;
    margin: 30px 0;
    font-size: 1.2em;
    text-decoration: none;
    border: 5px black;
    border-radius: 5px;
}

nav li a:hover {
    background-color: lightgreen;
    text-shadow: 1px 1px 1px white;
}

 nav, section, aside, .col, footer {
    background-color:#0468BF ;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid black;
}

.button{
    display: block;
    background-color: coral;
    color: black;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    font-size: 1em;
    text-decoration: none;
    border-radius: 10px;
}

.button:hover{
    background-color: white;
    text-shadow: 1px 1px 1px coral;
}


h2, h3 {
    color:black;
    text-shadow: 1px 1px 1px coral;
    font-size: 1.5em;
    text-align: center;
}

section img, aside img{
    width: 40%;
}

footer{
    padding: 20px 0;
    text-align: center;
    color: black;
}

.single_col {
    width: 86%;
}

table{
    display: none;
}

.bullet_list{
    width: 86%;

}

.Videos{
    width: 86%;
    color: white;
}

iframe{
    width: 86%;
}

.WWF{
    width: 86%;
}

.WWF img{
    width: 30%;
    padding: 5px;
}






/* Tablet Styles */

@media(min-width: 768px){

    header{
        padding: 125px;
    }

    header h1{
        font-size: 3em;
    }

    nav{
        text-align: center;
        padding: 5px;
    }

    nav li{
        display: inline-block;
    }

    nav li a{
        height: 50px;
        line-height: 50px;
        width: 200px;
    }

    #upper_flex{
        display: flex;
    }

    section, aside {
        width: 50%;
    }

    aside img{
        width: 50%;
    }

    .col img {
        width: 60%;
        border-radius: 10px;
        border: 4px solid coral;
    }

    .single_col {
        width: 95%;
    }

    .bullet_list{
        width: 95%;
    }
    
    .Videos{
        width: 95%;
    }

    .WWF{
        width: 95%;
    }

}

/* Desktop Styles */

@media(min-width: 1024px){

    #container {
        width: 85%;
        margin: 20px auto;
        border: 4px solid black;
        border-radius: 30px;
    }

    header {
        border-radius: 25px 25px 0 0;
    }


    #lower_flex {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col img {
        width: 100%;
    }

    .single_col {
        width: 100%;
    }

    .gallery{
        display:none;
    }

    table, tr, td {
        border: 4px solid black;
        padding: 5px;
        margin: 10px;
    }

    table img{
        width: 100%;
    }

    table {
        display: block;
    }

    .bullet_list{
        width: 100%;
    }

    .Videos{
        width: 100%;
    }

    .WWF{
        width: 100%;
    }
 }